.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.header::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background-image: url("../public/images/background/summuners_rift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}
.header .main_text {
  max-width: 425px;
}
.header .main_text h1 {
  margin-bottom: 8px;
}
.header .main_text h2 {
  font-weight: 400;
  margin-bottom: 16px;
}
.header .main_text p {
}

.header .champion_animation canvas {
  width: 100%;
  height: 100%;
}
.header .champion_animation {
  max-height: 715px;
  width: 100%;
  height: 100%;
}

.champions_container {
  padding: 16px;
  border-radius: 24px;
  background-color: var(--content-bg-color);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.15);
}
.champions_container h1 {
  margin-bottom: 24px;
}
.champions_container .search_bar {
  width: 100%;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--input-bg-color);
  border: 2px solid var(--input-border-color);
  color: var(--text-highlight-color);
  font-size: 16px;
  transition: 250ms;
}

.champions_container .search_bar::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: var(--input-placeholder-color);
}
.champions_container .search_bar:focus {
  outline: none;
  border: 2px solid var(--text-highlight-color);
}

.champions_container .grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}
.champions_container .grid .champion {
  text-align: center;
}
.champions_container .grid .champion:hover {
  cursor: pointer;
}
.champions_container .grid .champion .frame {
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  opacity: 0.5;
  border: 2px solid transparent;
  transition: 250ms;
}
.champions_container .grid .champion:hover .frame {
  border-color: var(--champion-border-color);
  opacity: 1;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}
.champions_container .grid .champion .frame img {
  width: 100%;
  border-radius: 16px;
  scale: 1.2;
}
.champions_container .grid .champion h4 {
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .header::before {
    width: 100%;
  }

  .header .main_text {
    max-width: 300px;
  }

  .champions_container .grid {
    grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .header .main_text {
    max-width: 425px;
  }
}
